@use '@/styles/ohma';

.groupElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(2 * #{ohma.$gap});

    border-radius: ohma.$rounding;
    border-width: 2px;
    border-style: solid;
    border-color: ohma.$colors-surface-subtle;

    margin: ohma.$gap 0;
    padding: calc(2 * #{ohma.$gap});

    font-size: ohma.$fonts-l;
}

.removeButton {
    font-size: ohma.$fonts-l;
    color: ohma.$colors-text-muted;
    justify-self: end;
    @include ohma.roundBtn;
}
