@use "@/styles/ohma";

.transactionModalContainer {
    width: min(500px, 90vw);
    margin: calc(3 * #{ohma.$gap});
}

.totalRow {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.balanceRow {
    display: flex;
    justify-content: space-between;
    color: ohma.$colors-text-muted;
}

.manualFields {
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;
}

.paymentMethodChooser {
    display: flex;
    flex-direction: column;
}

.paymentMethodChooserLabel {
    font-size: ohma.$fonts-s;
    margin-bottom: ohma.$gap;
    color: ohma.$colors-text-muted;
}
