@use '@/styles/ohma';

.rightAlign {
  text-align: right;
}

.row {
  cursor: pointer;

  &:hover {
    background-color: ohma.$colors-surface-hover;
  }
}

.pending {
  font-style: italic;
}

.terminalFailure {
  text-decoration: line-through;
}