@use "@/styles/ohma";

.details {
    width: min(500px, 90vw);
    margin: calc(3 * #{ohma.$gap});
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;
}

.detailRow {
    display: flex;
    justify-content: space-between;
    gap: ohma.$gap;
}

.label {
    color: ohma.$colors-text-muted;
}

.section {
    margin-top: ohma.$gap;
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;

    h4 {
        margin: 0;
    }
}

.productList {
    margin: 0;
    padding-left: calc(3 * #{ohma.$gap});
}
