@use "@/styles/ohma";

.notice {
    padding: ohma.$gap;
    border-left: 3px solid ohma.$colors-accent-blue;
}

.option {
    width: 100%;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: ohma.$gap 0;
    color: ohma.$colors-text-muted;

    &::before,
    &::after {
        margin: ohma.$gap;
        content: "";
        flex: 1;
        height: 0;
        border-bottom: 1px solid ohma.$colors-text-muted;
    }
}
